@CHARSET "ISO-8859-1";

#id_leftcontainer{
	float:left;
   margin: 0; 
   padding: 7.50em 0em .25em 0em; 
   border: solid 1px #30c9e0; 
   background: #CEECF5; 
   height: 100%;
   width:18%;
   display: inline;
}
#id_listFeatures{
	list-style-type: none;
	margin: 0; 
   padding: 0; 
   list-style: none;
}

#id_listFeatures li{
	list-style-type: none;
	margin: 0; 
   padding: 0; 
   list-style: none;
}

#id_listFeatures li a{
	margin: 10px;
	line-height:3em; 
   padding: 0.2em 0em .2em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   background-color: #2e71d5; 
   color: #ffffff; 
   text-align:left;
   display: block;
}

#id_progressBarNew {
	position: fixed;
	z-index: 1000;
	top: 10%;
	left: 0;
	right: 0;
	bottom: 5%;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .8) no-repeat;
	
}

/* 
#maincontent {
	width:100%;
	height:85%;
	margin:0px 10px 0px 10px;
	float: left; 
	overflow: hidden;
}

#leftcontainer {
	float: left;
	width:20%;
	height:99%;
	margin:0px;
	padding:0px;
	background-color: #FFFFFF;
	position:relative;
}
#id_addTestStepDiv{
	top:6.5%;
	height:20%;
	background-color:#EBEBEB;
	position:absolute;
	margin-top:0px;
}
#id_addTestStepDiv table{
	background-color: #EBEBEB;
	width:100%;
	height:100%;
}
.texttd {
	width:30%;
	color: #3a92c8;
	font-weight: bold;
}
.boxtd{
	width:70%;
}


#middlecontainer {
	float: inherit;
	margin:0px;
	padding:0px;
	margin-left:10px;
	width:78%;
	height:99%;
	background-color: #EBEBEB;
}

#rightcontainer {
	float: right;
	width:12%;
	height:100%;
	margin:0px 0px 0px 10px;
	background-color: #EBEBEB;
}

#rightcontainer button{
	margin: 5px;
	padding: 5px 10px 5px 10px;
	border: 1px;
	font-size: medium;
	font-weight: bold;
	width: 80%;
	cursor:pointer;
}
#leftcontainer label {position:relative}
#leftcontainer label:BEFORE{
	content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}
#leftcontainer label:AFTER{
	content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
#leftcontainer select{
	width: 100%;
	margin:3% 0px;
	padding:3px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #fff;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}


#id_teststep{
	width: 94%;
	height:25px;
	margin:3% 0px;
}

#id_addButton {
	float: right;
	padding: 1% 3%;
	margin: 4% 5%;
}

#rightcontainer input[type=checkbox] {
	visibility: hidden;
}
.modelcheckbox{
	width: 20px;
	height: 20px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 10px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}
.modelcheckbox label {
	cursor: pointer;
	position: absolute;
	width: 12px;
	height: 12px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.modelcheckbox label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: 1px;
	left: 1px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.modelcheckbox label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.modelcheckbox input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.divfilepath{
	margin:0px 0px 0px 10px;
}

.inputfilepath{
	width:85% ;
	height:20px ;
}

.run_button{
	
}
.cutombutton{
	align-text:center;
	padding: 1px 5px 1px 5px;
	margin:0px 10px 0px 0px;
}
.textareas{
	width:48%;
	height:93%;
	margin:5px 0px 0px 5px;
}
.divtextarea{
	height:95%;
	width:100%;
	margin:10px 0px 0px 0px;
}
.selectionlist{
	width:100%;
	height:100%;
}

for dialog box
.tabledtd{
	float:left;
	margin:10px 0px 10px 30px;
	border-collapse:collapse;
	background-color: #EBEBEB;
}

.typeofrequesttd{
	float:left;
	margin:10px 0px 10px 30px;
	width: 200px;
	border-collapse:collapse;
	background-color: #EBEBEB;
}
.customtd{
	height:30px;
	vertical-align:top;
	align-content:left;
	padding:10px;
	background-color: #EBEBEB;
}

.errInputBox:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.deleteRecord{
	display:inline;
	font-size: 12px;	
}
.deleteRecord > button{
	font-size: 10px;	
}
#id_dialog{
	
}
#id_dialog_addDiv{
	width:100%;
	height:100%;
	min-height:100px;
	min-width: 60px;
}
#id_dialogModelData{
}
#id_dialogModelData ul{
	list-style-type: none;
	padding: 0px;
	margin:0px;
	background-color: #EBEBEB;
	line-height: initial;
}
#id_dialogModelData ul li:first-child{
	background-color: #FFFFFF;
}
#id_dialogModelData ul li{
	list-style-type: none;
	padding:10px;
	margin:0px;
	line-height: 42px;
	text-align: center;
	display:inline;
	cursor:pointer;
	font-size: larger;
	font-weight: bold;	
}
.leftmenu{
	position:absolute;
	width:100%;
	margin:5px 0px 5px 0px;
	padding:0px;
	left:0;
	background-color:#FFFFFF;
}
#id_progressBar{
	position:absolute;
	top:5.1%;
	margin:0px 0px 0px 0px;
	background: transparent;
	height: 1.5%;
	width:100%;
}
#id_progressBar img{
	margin:auto;
	width:100%;
	height: 90%;
}
#id_projectName{
	position:absolute;
	top:0;
	height:5%;
	min-height:15px;
	max-height:5%;
	background-color:#EBEBEB;
	color: #3a92c8;
 	text-align:center;
	font-weight:bold;
	padding:0px;
	margin-bottom: 0px;
}
#id_projectName span{
	position:absolute;
	top:0;bottom:0;
	left:0;right:0;
	margin: auto;
	display: compact;
	vertical-align:center;
	height:50%;
}

#id_addTestStepTable{
	width:100%;
	height:100%;
}
#id_operationUL{
	list-style-type: none;
	width:100%;
	display:inline-block;
	position:relative;
	margin:0px;
	padding:0px;
}
#id_operationUL li{
	list-style-type: none;
	display:inline-block;
	position:relative;
	min-width: 12%;
	width:12%;
}
.subMenu{
	position:absolute;
    left:0;
    width:100%;
    visibility: hidden;
}
#id_operationUL li:hover #id_runStepUl{
	visibility:visible;
}
#id_operationUL li:hover #id_runProjectUl{
	visibility:visible;
}
#id_operationUL li:hover #id_modelDataUl{
	visibility:visible;
}
#id_runStepUl, #id_runProjectUl, #id_modelDataUl{
	padding:0px;
	background-color:#EBEBEB;
}
.listUl{
	list-style-type: none;
	display: inline-block;
	padding:0px;
	margin:0px;
	line-height:100%;
}
.listUl li{
	list-style-type:none;
	display:inline-block; 
	padding:0px 10px 0px 10px;
	text-align: center;
	line-height:100%
}
.ui-dialog-title{
	padding:0px;
	margin:0px;
	font-size: 15px;
	width:95%;
}
.ui-dialog .ui-dialog-titlebar{
	padding:10px 10px 10px 10px;
	background-color:#FFFFFF;
}
.modelData{
	cursor:pointer;
	background-color:#5858FA;
}
.networkError{
	font-size: 18px;
	text-align: center;
	width:100%;
	margin-top:15%;
}
#id_treeView{
	position:absolute;
	top:31%;
	bottom:0;
	height:71%;
	width:100%;
	background-color:#EBEBEB;
}
#id_treeControl{
	height:5%;
	width:99%;
	background-color:#EBEBEB;
	overflow: auto;
}
#id_rootView{
	height:90%;
	width:98%;
	background-color:#FFFFFF;
	margin:1% 0% 0% 1%;
	overflow: auto;
}
.teststep_li span{
	cursor:pointer;
}
.selectedTestStep, .selectedTestCase, .selectedTestSuite{
	font-weight: bold;
}
#id_loadingDialog {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 10%;
	left: 0;
	right: 0;
	bottom: 5%;
	height: 85%;
	width: 100%;
	background: rgba(255, 255, 255, .8) no-repeat;
}
#id_loadingImage{
	position:absolute;
	top:10%;left:0;right:0;
	margin:0 auto;
	height:40%;
	width:30%;
}
#id_loadingImage img{
	width:100%;
	height:100%;
}
#id_loadingMessage{
	position:absolute;
	top:55%;left:0;right:0;
	margin:0 auto;
	text-align: center;
}
.cursorAuto{
	cursor: auto !important;
}
.equalWidth{
	width:100% !important;
}
#id_operation_buttons{
	width:100%;
	height:10%;
}
#id_addbutton{
	float:right;
} */

